#tagscloud {
  width: 280px;
  height: 280px;
  position: relative;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  text-align: center;
}

#tagscloud a {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #333;
  font-family: Arial;
  text-decoration: none;
  margin: 0 10px 15px 0;
  line-height: 18px;
  text-align: center;
  font-size: 14px;
  padding: 1px 5px;
  display: inline-block;
  border-radius: 3px;
}
